body {
  background-color: #f8f9fa;
  color: #343a40;
}

nav.navbar {
  background-color: #343a40;
  color: #ffffff;
}

.card {
  margin: 20px 0;
}

footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 10px;
}
